/202112_Verification of Non-Filing_BRAD_105396645696.pdf
/Book2 (version 1).xlsb.xlsx
/Case Study #1.pptx
/Custom Office Templates
/Data analysists.docx
/desktop.ini
/Downloads - Shortcut.lnk
/last weekmath108x_document_w13GroupAssignment.xlsx
/math108x_document_w11GroupAssignment.xlsx
/math108x_document_w13GroupAssignment.xlsx
/My Tableau Repository
/my_chart.png
/OneNote Notebooks
/Sheet 1.jpg
/TrendLinesCaseStudyONLINEFINAL.xlsx
/Zoom
/~$ta analysists.docx
/My Pictures
/My Music
/My Videos